{% extends 'student/s_base.html' %}

{% block content %}
<main class="content">
	<div class="container-fluid p-0">

		<div class="row mb-2 mb-xl-3">
			<div class="col-auto d-none d-sm-block">
				<h3><strong>Student</strong> Dashboard</h3>
			</div>

		
		</div>
		<div class="row">
					<div class="row">
						<div class="col-sm-6 col-lg-3">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title mb-4">Marathi</h5>
									<h1 class="mt-1 mb-3">{{marathi_count}}</h1>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-3">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title mb-4">Semi-Eng</h5>
									<h1 class="mt-1 mb-3">{{semi_count}}</h1>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-3">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title mb-4">CBSE</h5>
									<h1 class="mt-1 mb-3">{{cbse_count}}</h1>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-3">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title mb-4">Foundation</h5>
									<h1 class="mt-1 mb-3">{{foundation_count}}</h1>
								</div>
							</div>
						</div>
					</div>
		</div>

		<div class="row">
			<div class="col-12 d-flex">
				<div class="card flex-fill w-100">
					<div class="card-header">

						<h5 class="card-title mb-0">Standardwise Student distribution</h5>
					</div>
					<div class="card-body d-flex w-100">
						<div class="align-self-center chart chart-lg">
							<canvas id="standardwise_student_distribution"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	</div>
</main>
{% endblock %}