{% extends 'student/s_base.html' %}

{% block content %}

<main class="content">
				<div class="container-fluid p-0">
					<div class="row mb-2 mb-xl-3">
							<div class="col-auto">
								<h3> Edit Profile </h3>
							</div>
					</div>

					<div class="row">
						<div class="col-md-12">							
								
							{% if messages %}
								<div class="alert alert-primary alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<div class="alert-icon">
										<i data-feather="tag"></i>
									</div>
									<div class="alert-message">
										<strong>
										{% for message in messages  %}
										{{message}}
										{% endfor %}
										</strong> 
									</div>
								</div>
							{% endif %}

							<div class="card">
								<div class="card-body">
									<form action="/s_saveprofile" method="POST">
									{% csrf_token %}
										<div class="mb-3">
											<label class="form-label">Student ID</label>
											<input type="text" class="form-control" name="username" value="{{user.username}}" disabled>
										</div>
										<div class="mb-3">
											<label class="form-label">Medium</label>
											<input type="text" class="form-control" name="medium" value="{{user.student.medium}}" disabled>
										</div>
										<div class="mb-3">
											<label class="form-label">Class</label>
											<input type="text" class="form-control" name="class" value="{{user.student.std}}" disabled>
										</div>
										<div class="mb-3">
											<label class="form-label">Email address</label>
											<input type="email" class="form-control" placeholder="Email" name="email" value="{{user.email}}">
											<input type="hidden" value="{{user.id}}" name="student_id">
										</div>
										<div class="mb-3">
											<label class="form-label">First Name</label>
											<input type="text" class="form-control" placeholder="First Name" name="firstname" value="{{user.first_name}}">
										</div>
										<div class="mb-3">
											<label class="form-label">Last Name</label>
											<input type="text" class="form-control" placeholder="Last Name" name="lastname" value="{{user.last_name}}">
										</div>
										<div class="mb-3">
											<label class="form-label" for="gender">Gender</label>
												<select id="gender" class="form-control" name="gender">
													<option value="{{user.student.gender}}" hidden selected>{{user.student.gender}}</option>
													{% for k,v in user.student.gender_choices %}
													<option value={{k}}>{{v}}</option>
													{% endfor %}
												</select>
										</div>
										<div class="mb-3">
											<label class="form-label">Address</label>
											<input type="text" class="form-control" placeholder="Address" name="address" value="{{user.student.address}}">
										</div>
										<div class="mb-3">
											<label class="form-label">Password</label>
											<input type="text" class="form-control" placeholder="Fill if you want to change password" name="password" >
										</div>
										<div class="mb-3">
										<button type="submit" class="form-control btn btn-primary">Update profile</button>
										</div>
									</form>
								</div>
							</div>
						
						</div>
						
			</main>


{% endblock %}