<nav id="sidebar" class="sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="/">
          <span class="align-middle">Student Management</span>
        </a>

				<ul class="sidebar-nav">
					

					<li class="sidebar-item active">
						<a class="sidebar-link" href="/studenthome">
						<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
						</a>
					</li>

					<li class="sidebar-header">
						Menu
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/studentprofile">
						<i class="align-middle" data-feather="user"></i> <span class="align-middle">My Profile</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/s_viewnotification">
						<i class="align-middle" data-feather="bell"></i> <span class="align-middle">Notification</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/s_viewresult">
						<i class="align-middle" data-feather="folder"></i> <span class="align-middle">View result</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/s_viewnotes">
						<i class="align-middle" data-feather="file-text"></i> <span class="align-middle">View Notes</span>
						</a>
					</li>


				</ul>

			</div>
		</nav>
