{% extends 'student/s_base.html' %}

{% block content %}

<main class="content">
        <div class="container-fluid p-0">

					<h1 class="h3 mb-3">View Result</h1>
					<div class="col-12">
							<div class="card">
								<div class="table-responsive">
									<table class="table table-striped mb-0 ">
										<thead>
											<tr>
												<th scope="col">Title</th>
												<th scope="col">Created By</th>
												<th scope="col">Created At</th>
												<th scope="col">File</th>
											</tr>
										</thead>
										<tbody>
                                        {% for result in results %}
											<tr>
												<th scope="row">{{result.title}}</th>
												<td>{{result.created_by}}</td>
												<td>{{result.created_at}}</td>
												<td><a href="/media/{{result.file}}" download>download</a></td>
											</tr>
                                            {% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

			
</main>
			


{% endblock %}