{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive student management website using django">
	<meta name="author" content="jstudios">
	<meta name="keywords" content="schoolmanagement, django, python, bootstrap">

	<link rel="shortcut icon" href="img/icons/icon-48x48.png" />

	<title>Student Management Site</title>

	<link rel="stylesheet" type="text/css" href="{% static 'Main_App/css/app.css' %}" >
</head>

<body>

	
			
	{% block base %}{% endblock base %}
		
			
	
	<script src="{% static 'Main_App/js/app.js' %}"></script>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
			// Pie chart
			new Chart(document.getElementById("genderwise_student_distribution"), {
				type: "pie",
				data: {
					labels: ["Male", "Female", "Other"],
					datasets: [{
						data: [{{male_count}}, {{female_count}}, {{other_count}}],
						backgroundColor: [
							window.theme.primary,
							window.theme.warning,
							window.theme.danger
						],
						borderWidth: 5
					}]
				},
				options: {
					responsive: !window.MSInputMethodContext,
					maintainAspectRatio: false,
					legend: {
						display: false
					},
					cutoutPercentage: 75
				}
			});
		});
	</script>
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			// Bar chart
			new Chart(document.getElementById("standardwise_student_distribution"), {
				type: "bar",
				data: {
					labels: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"],
					datasets: [{
						label: "Class",
						backgroundColor: window.theme.primary,
						borderColor: window.theme.primary,
						hoverBackgroundColor: window.theme.primary,
						hoverBorderColor: window.theme.primary,
						data: [{{count_1}},{{count_2}},{{count_3}},{{count_4}},{{count_5}},{{count_6}},{{count_7}},{{count_8}},{{count_9}},{{count_10}}],
						barPercentage: .75,
						categoryPercentage: .5
					}]
				},
				options: {
					maintainAspectRatio: false,
					legend: {
						display: false
					},
					scales: {
						yAxes: [{
							gridLines: {
								display: false
							},
							stacked: false,
							ticks: {
								stepSize: 20
							}
						}],
						xAxes: [{
							stacked: false,
							gridLines: {
								color: "transparent"
							}
						}]
					}
				}
			});
		});
	</script>
