
			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle d-flex">
          <i class="hamburger align-self-center"></i>
        </a>

				<form class="d-none d-sm-inline-block">
					<div class="input-group input-group-navbar">
						<input type="text" class="form-control" placeholder="Search…" aria-label="Search">
						<button class="btn" type="button">
              <i class="align-middle" data-feather="search"></i>
            </button>
					</div>
				</form>

				<div class="navbar-collapse collapse">
					<ul class="navbar-nav navbar-align">
						
						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle d-inline-block " href="#" data-toggle="dropdown">
								<i class="align-middle" data-feather="settings"></i>
							</a>

							<div class="dropdown-menu dropdown-menu-right">
								<div class="dropdown-item">
									{% if user %}
									Hi, {{user.first_name}}
									{% else %}
									  Log in
									{% endif %}
								</div>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/logoutuser">Log out</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
  