{% extends 'admin/a_base.html' %}

{% block content %}

<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">Add Notification for Students and Teacher</h1>

					<div class="row">
						<div class="col-md-12">
							<div class="card">
							{% if messages %}
						{% for message in messages  %}
						 {{message}}
						{% endfor %}
						{% endif %}
								<div class="card-body">
									<form action="/savenotification" method="POST">
									{% csrf_token %}
										<div class="mb-3">
											<label class="form-label">Notification heading</label>
											<input type="text" class="form-control" placeholder="heading" name="heading" minlength='15' maxlength='100' required>
										</div>
										<div class="mb-3">
											<label class="form-label">Notification message</label>
											<textarea type="textbox" class="form-control" row="4" placeholder="Type your notification message here..." minlength='30' name="message" required></textarea>
										</div>
										<div class="mb-3">
										<button type="submit" class="form-control btn btn-primary">Add</button>
										</div>
									</form>
								</div>
							</div>
						
						</div>
						
			</main>


{% endblock %}