{% extends 'admin/a_base.html' %}

{% block content %}

<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">Upload Result</h1>

					<div class="row">
						<div class="col-md-12">

							{% if messages %}
								<div class="alert alert-primary alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<div class="alert-icon">
										<i data-feather="send"></i>
									</div>
									<div class="alert-message">
										<strong>
										{% for message in messages  %}
										{{message}}
										{% endfor %}
										</strong> 
									</div>
								</div>
							{% endif %}

							<div class="card">
							<div class="card-body">
									<form action="/a_saveresult" method="POST" enctype="multipart/form-data">
									{% csrf_token %}
										<div class="mb-3">
											<label class="form-label">Exam Title</label>
											<input type="text" class="form-control" placeholder="Exam title" name="title" required>
										</div>
										<div class="mb-3">
											<label class="form-label" for="medium">Medium</label>
												<select id="medium" class="form-control" name="medium" required>
													<option value="" selected hidden>--Select--</option>
													{% for k,v in mediums %}
													<option value={{k}}>{{v}}</option>
													{% endfor %}
												</select>
										</div>
										<div class="mb-3">
											<label class="form-label" for="std">Class</label>
												<select id="std" class="form-control" name="std" required>
													<option value="" selected hidden>--Select--</option>
													{% for k,v in stds %}
													<option value={{k}}>{{v}}</option>
													{% endfor %}
												</select>
										</div>
										
										<div class="mb-3">
											<label class="form-label">Result</label>
											<input type="file" class="form-control" placeholder="Upload result here" name="resultfile" required>
                                            <small class="form-text text-muted">Upload result here.</small>                                                
                                        </div>
										<div class="mb-3">
										<button type="submit" class="form-control btn btn-primary">Upload</button>
										</div>
									</form>
								</div>
							</div>
						
						</div>
						
			</main>


{% endblock %}