{% extends 'admin/a_base.html' %}

{% block content %}

<main class="content">
				<div class="container-fluid p-0">

						<div class="row mb-2 mb-xl-3">
							<div class="col-auto">
								<h3>Update <strong>{{student.admin.first_name}}</strong> </h3>
							</div>

							<div class="col-auto ml-auto text-right mt-n1">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb bg-transparent p-0 mt-1 mb-0">
										<li class="breadcrumb-item"><a href="/adminhome">Dashboard</a></li>
									</ol>
								</nav>
							</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="card">
							{% if messages %}
						{% for message in messages  %}
						 {{message}}
						{% endfor %}
						{% endif %}
								<div class="card-body">
									<form action="/saveeditstudent" method="POST">
									{% csrf_token %}
										<div class="mb-3">
											<label class="form-label">Email address</label>
											<input type="email" class="form-control" placeholder="Email" name="email" value="{{student.admin.email}}">
											<input type="hidden" value="{{student.admin.id}}" name="student_id">
										</div>
										<div class="mb-3">
											<label class="form-label">First Name</label>
											<input type="text" class="form-control" placeholder="First Name" name="firstname" value="{{student.admin.first_name}}">
										</div>
										<div class="mb-3">
											<label class="form-label">Last Name</label>
											<input type="text" class="form-control" placeholder="Last Name" name="lastname" value="{{student.admin.last_name}}">
										</div>
										<div class="mb-3">
											<label class="form-label" for="medium">Medium</label>
												<select id="medium" class="form-control" name="medium">
													<option  value="{{student.medium}}" hidden selected>{{student.medium}}</option>
													{% for k,v in student.medium_choices %}
													<option value={{k}}>{{v}}</option>
													{% endfor %}
												</select>
										</div>
										<div class="mb-3">
											<label class="form-label" for="std">Class</label>
												<select id="std" class="form-control" name="std">
													<option  value="{{student.std}}" hidden selected>{{student.std}}</option>
													{% for k,v in student.std_choices %}
													<option value={{k}}>{{v}}</option>
													{% endfor %}
												</select>
										</div>
										<div class="mb-3">
											<label class="form-label" for="gender">Gender</label>
												<select id="gender" class="form-control" name="gender">
													<option  value="{{student.gender}}" hidden selected>{{student.gender}}</option>
													{% for k,v in student.gender_choices %}
													<option value={{k}}>{{v}}</option>
													{% endfor %}
												</select>
										</div>
										<div class="mb-3">
											<label class="form-label">Address</label>
											<input type="text" class="form-control" placeholder="Address" name="address" value="{{student.address}}">
										</div>
										<div class="mb-3">
										<button type="submit" class="form-control btn btn-primary">Submit</button>
										</div>
									</form>
								</div>
							</div>
						
						</div>
						
			</main>


{% endblock %}