{% extends 'admin/a_base.html' %}

{% block content %}

<main class="content">
				<div class="container-fluid p-0">
					<div class="row mb-2 mb-xl-3">
							<div class="col-auto">
								<h3>Update <strong>{{teacher.admin.first_name}}</strong> </h3>
							</div>

							<div class="col-auto ml-auto text-right mt-n1">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb bg-transparent p-0 mt-1 mb-0">
										<li class="breadcrumb-item"><a href="/adminhome">Dashboard</a></li>
									</ol>
								</nav>
							</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							
								
							{% if messages %}
								<div class="alert alert-primary alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<div class="alert-icon">
										<i data-feather="tag"></i>
									</div>
									<div class="alert-message">
										<strong>
										{% for message in messages  %}
										{{message}}
										{% endfor %}
										</strong> 
									</div>
								</div>
							{% endif %}

							<div class="card">
								<div class="card-body">
									<form action="/saveeditteacher" method="POST">
									{% csrf_token %}
										<div class="mb-3">
											<label class="form-label">Email address</label>
											<input type="email" class="form-control" placeholder="Email" name="email" value="{{teacher.admin.email}}">
											<input type="hidden" value="{{teacher.admin.id}}" name="teacher_id">
										</div>
										<div class="mb-3">
											<label class="form-label">First Name</label>
											<input type="text" class="form-control" placeholder="First Name" name="firstname" value="{{teacher.admin.first_name}}">
										</div>
										<div class="mb-3">
											<label class="form-label">Last Name</label>
											<input type="text" class="form-control" placeholder="Last Name" name="lastname" value="{{teacher.admin.last_name}}">
										</div>
										<div class="mb-3">
											<label class="form-label" for="gender">Gender</label>
												<select id="gender" class="form-control" name="gender">
													<option value="{{teacher.gender}}" hidden selected>{{teacher.gender}}</option>
													{% for k,v in teacher.gender_choices %}
													<option value={{k}}>{{v}}</option>
													{% endfor %}
												</select>
										</div>
										<div class="mb-3">
											<label class="form-label">Address</label>
											<input type="text" class="form-control" placeholder="Address" name="address" value="{{teacher.address}}">
										</div>
										<div class="mb-3">
										<button type="submit" class="form-control btn btn-primary">Update</button>
										</div>
									</form>
								</div>
							</div>
						
						</div>
						
			</main>


{% endblock %}