{% extends 'admin/a_base.html' %}

{% block content %}

<main class="content">
        <div class="container-fluid p-0">

					<h1 class="h3 mb-3">Tables</h1>
					<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Always responsive</h5>
									<h6 class="card-subtitle text-muted">Across every breakpoint, use <code>.table-responsive</code> for horizontally scrolling tables.</h6>
								</div>
								<div class="table-responsive">
									<table class="table table-striped mb-0 ">
										<thead>
											<tr>
												<th scope="col">ID</th>
												<th scope="col">First Name</th>
												<th scope="col">Last Name</th>
												<th scope="col">Username</th>
												<th scope="col">Email</th>
												<th scope="col">Gender</th>
												<th scope="col">Address</th>
												<th scope="col">Created At</th>
                                                <th scope="col">Updated At</th>
                                                <th scope="col">Action</th>
											</tr>
										</thead>
										<tbody>
                                        {% for teacher in teachers %}
											<tr>
												<th scope="row">{{teacher.admin.id}}</th>
												<td>{{teacher.admin.first_name}}</td>
												<td>{{teacher.admin.last_name}}</td>
												<td>{{teacher.admin.username}}</td>
												<td>{{teacher.admin.email}}</td>
												<td>{{teacher.gender}}</td>
												<td>{{teacher.address}}</td>
												<td>{{teacher.created_at}}</td>
                                                <td>{{teacher.updated_at}}</td>
												<td>
                                                <a href="/editteacher/{{teacher.admin.id}}"><i class="align-middle" data-feather="edit-2"></i></a>
												<a href="#"><i class="align-middle" data-feather="trash"></i></a>
                                                </td>
											</tr>
                                            {% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

			
</main>

{% endblock %}