<nav id="sidebar" class="sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="/">
          <span class="align-middle">Student Management</span>
        </a>

				<ul class="sidebar-nav">
					

					<li class="sidebar-item active">
						<a class="sidebar-link" href="/adminhome">
              <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
            </a>
					</li>

					<li class="sidebar-header">
						Menu
					</li>

					<li class="sidebar-item">
						<a data-target="#manage" data-toggle="collapse" class="sidebar-link collapsed">
              <i class="align-middle" data-feather="users"></i> <span class="align-middle">Manage</span>
            			</a>
						<ul id="manage" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
							<li class="sidebar-item"><a class="sidebar-link" href="/managestudent">Student</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="/manageteacher">Teacher</a></li>
						</ul>
					</li>

					<li class="sidebar-item">
						<a data-target="#add" data-toggle="collapse" class="sidebar-link collapsed">
              <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">add</span>
            			</a>
						<ul id="add" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
							<li class="sidebar-item"><a class="sidebar-link" href="/addstudent">Students</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="/addteacher">Teacher</a></li>
						</ul>
					</li>

					<li class="sidebar-item">
						<a data-target="#notification" data-toggle="collapse" class="sidebar-link collapsed">
						<i class="align-middle" data-feather="bell"></i> <span class="align-middle">Notification</span>
						</a>
						<ul id="notification" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
							<li class="sidebar-item"><a class="sidebar-link" href="/a_addnotification">Add</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="/managenotification">Manage</a></li>
						</ul>
					</li>

					<li class="sidebar-item">
						<a data-target="#result" data-toggle="collapse" class="sidebar-link collapsed">
						<i class="align-middle" data-feather="folder"></i> <span class="align-middle">Results</span>
						</a>
						<ul id="result" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
							<li class="sidebar-item"><a class="sidebar-link" href="/a_addresult">Upload</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="/a_viewresult">Delete</a></li>
						</ul>
					</li>

					<li class="sidebar-item">
						<a data-target="#notes" data-toggle="collapse" class="sidebar-link collapsed">
						<i class="align-middle" data-feather="file-text"></i> <span class="align-middle">Notes</span>
						</a>
						<ul id="notes" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
							<li class="sidebar-item"><a class="sidebar-link" href="/a_addnotes">Upload</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="/a_viewnotes">Delete</a></li>
						</ul>
					</li>

				</ul>

			</div>
		</nav>
