<nav id="sidebar" class="sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="/">
          <span class="align-middle">Student Management</span>
        </a>

				<ul class="sidebar-nav">
					

					<li class="sidebar-item active">
						<a class="sidebar-link" href="/adminhome">
              <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
            </a>
					</li>

					<li class="sidebar-header">
						Pages
					</li>

					<li class="sidebar-item">
						<a data-target="#manage" data-toggle="collapse" class="sidebar-link collapsed">
              <i class="align-middle" data-feather="users"></i> <span class="align-middle">Manage</span>
            			</a>
						<ul id="manage" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
							<li class="sidebar-item"><a class="sidebar-link" href="/managestudent">Students</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="/manageteacher">Teacher</a></li>
						</ul>
					</li>

					<li class="sidebar-item">
						<a data-target="#add" data-toggle="collapse" class="sidebar-link collapsed">
              <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">add</span>
            			</a>
						<ul id="add" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
							<li class="sidebar-item"><a class="sidebar-link" href="/addstudent">Students</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="/addteacher">Teacher</a></li>
						</ul>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/a_addnotification">
						<i class="align-middle" data-feather="message-circle"></i> <span class="align-middle">Add Notification</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/managenotification">
						<i class="align-middle" data-feather="message-square"></i> <span class="align-middle">Manage Notifications</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="pages-blank.html">
						<i class="align-middle" data-feather="book"></i> <span class="align-middle">Blank</span>
						</a>
					</li>

					<li class="sidebar-header">
						Tools & Components
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="icons-feather.html">
              <i class="align-middle" data-feather="coffee"></i> <span class="align-middle">Icons</span>
            </a>
					</li>

					<li class="sidebar-item">
						<a data-target="#forms" data-toggle="collapse" class="sidebar-link collapsed">
              <i class="align-middle" data-feather="check-circle"></i> <span class="align-middle">Forms</span>
            </a>
						<ul id="forms" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
							<li class="sidebar-item"><a class="sidebar-link" href="forms-layouts.html">Form Layouts</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="forms-basic-inputs.html">Basic Inputs</a></li>
						</ul>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="tables-bootstrap.html">
              <i class="align-middle" data-feather="list"></i> <span class="align-middle">Tables</span>
            </a>
					</li>

				</ul>

			</div>
		</nav>
