<nav id="sidebar" class="sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="/">
          <span class="align-middle">Student Management</span>
        </a>

				<ul class="sidebar-nav">
					

					<li class="sidebar-item active">
						<a class="sidebar-link" href="/teacherhome">
						<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
						</a>
					</li>

					<li class="sidebar-header">
						Menu
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/teacherprofile">
						<i class="align-middle" data-feather="user"></i> <span class="align-middle">My Profile</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/t_addstudent">
						<i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Add Student</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/t_viewstudent">
						<i class="align-middle" data-feather="users"></i> <span class="align-middle">View Student</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a data-target="#forms" data-toggle="collapse" class="sidebar-link collapsed">
						<i class="align-middle" data-feather="bell"></i> <span class="align-middle">Notification</span>
						</a>
						<ul id="forms" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
							<li class="sidebar-item"><a class="sidebar-link" href="/t_addnotification">Add</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="/t_deletenotification">Delete</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="/t_viewnotification">View all</a></li>
						</ul>
					</li>

					<li class="sidebar-item">
						<a data-target="#result" data-toggle="collapse" class="sidebar-link collapsed">
						<i class="align-middle" data-feather="folder"></i> <span class="align-middle">Result</span>
						</a>
						<ul id="result" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
							<li class="sidebar-item"><a class="sidebar-link" href="/t_addresult">Upload</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="/t_deleteresult">Delete</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="/t_viewresult">View all</a></li>
						</ul>
					</li>

					<li class="sidebar-item">
						<a data-target="#notes" data-toggle="collapse" class="sidebar-link collapsed">
						<i class="align-middle" data-feather="file-text"></i> <span class="align-middle">Notes</span>
						</a>
						<ul id="notes" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
							<li class="sidebar-item"><a class="sidebar-link" href="/t_addnotes">Upload</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="/t_deletenotes">Delete</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="/t_viewnotes">View all</a></li>
						</ul>
					</li>

				</ul>

			</div>
		</nav>
