{% extends 'teacher/t_base.html' %}

{% block content %}

<main class="content">
        <div class="container-fluid p-0">

					<h1 class="h3 mb-3">View Students</h1>
					<div class="col-12">
							<div class="card">
								<div class="table-responsive">
									<table class="table table-striped mb-0 ">
										<thead>
											<tr>
												<th scope="col">ID</th>
												<th scope="col">First Name</th>
												<th scope="col">Last Name</th>
												<th scope="col">Student Code</th>
												<th scope="col">Email</th>
												<th scope="col">Gender</th>
												<th scope="col">Class</th>
												<th scope="col">Medium</th>
												<th scope="col">Address</th>
												<th scope="col">Created At</th>
                                                <th scope="col">Updated At</th>
												<th scope="col">Reset Pass</th>
											</tr>
										</thead>
										<tbody>
                                        {% for student in students %}
											<tr>
												<th scope="row">{{student.admin.id}}</th>
												<td>{{student.admin.first_name}}</td>
												<td>{{student.admin.last_name}}</td>
												<td>{{student.admin.username}}</td>
												<td>{{student.admin.email}}</td>
												<td>{{student.gender}}</td>
                                                <td>{{student.std}}</td>
												<td>{{student.medium}}</td>
												<td>{{student.address}}</td>
												<td>{{student.created_at}}</td>
                                                <td>{{student.updated_at}}</td>
												<td>
												<a href="#"><i class="align-middle" data-feather="rotate-cw"></i></a>
                                                </td>
											</tr>
                                            {% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

			
</main>
			


{% endblock %}