{% extends 'teacher/t_base.html' %}

{% block content %}

<main class="content">
        <div class="container-fluid p-0">

					<h1 class="h3 mb-3">View all results</h1>
					<div class="col-12">

						{% if messages %}
								<div class="alert alert-primary alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<div class="alert-icon">
										<i data-feather="send"></i>
									</div>
									<div class="alert-message">
										<strong>
										{% for message in messages  %}
										{{message}}
										{% endfor %}
										</strong> 
									</div>
								</div>
							{% endif %}

							<div class="card">
								<div class="table-responsive">
									<table class="table table-striped mb-0 ">
										<thead>
											<tr>
												<th scope="col">Title</th>
												<th scope="col">Class</th>
												<th scope="col">Medium</th>
												<th scope="col">Created By</th>
												<th scope="col">Created At</th>
												<th scope="col">File</th>
											</tr>
										</thead>
										<tbody>
                                        {% for result in results %}
											<tr>
												<th scope="row">{{result.title}}</th>
												<td>{{result.std}}</td>
												<td>{{result.medium}}</td>
												<td>{{result.created_by}}</td>
												<td>{{result.created_at}}</td>
												<td>
												<a href="/media/{{result.file}}" download>download</a>
												</td>
											</tr>
                                            {% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

			
</main>
			


{% endblock %}